<p id="notice"><%= notice %></p>

<h3>Photos</h3>

<table>
  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= image_tag(url_for(photo.image), class: 'img_img') %></td>
        <td><%= photo.caption %></td>
        <td><%= link_to 'Show', photo, class:"btn btn-light" %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo), class:"btn btn-light" %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path, class:"btn btn-info" %>
