

<%
=begin %>

<table>
  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= image_tag(url_for(photo.image), class: 'img') %></td>
        <td><%= photo.caption %></td>
        <td><%= link_to 'Show', photo, class:"btn btn-light" %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo), class:"btn btn-light" %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%
=end %>


<div id="container">
<% if @photos.empty? %>
  <p>Album is empty. Click on "New Photo" to add a photo.</p>
<% end %>
<% for photo in @photos %>
  <a class"img_a" href="<%= photo_path(photo) %>">
    <figure>
      <%= image_tag(url_for(photo.image), class: 'img_img') %>
      <figcaption><%= photo.caption || '-' %></figcaption>
    </figure>
  </a>
<% end %>
</div>

<br>

<%= link_to 'New Photo', new_photo_path, class:"btn btn-info" %>
